---
import Frame from "../../components/Frame.astro";
import SimplePost from "../../components/SimplePost.astro";
import Divider from "../../components/Divider.astro";
import Pager from "../../components/Pager.astro";
import { getPosts } from "../../lib/content";
import { ui } from "../../lib/ui";

export async function getStaticPaths({ paginate }) {
    console.log("getStaticPaths")
    const posts = await getPosts();
    return paginate(posts, { pageSize: 10 });
}

const { page } = Astro.props;
---

<Frame title={ui.posts_title} description={ui.posts_description}>
    <div class="base-content">
        <h1 class="my-4 text-3xl">{ui.posts_title}</h1>
        {
            page.data.map((post, index) => (
                <>
                    <SimplePost
                        key={post.id}
                        id={post.id}
                        {...post.data}
                    />
                    {index !== page.data.length - 1 && <Divider />}
                </>
            ))
        }
        {
            (
                <Pager
                    current={page.url.current}
                    currentPage={page.currentPage}
                    lastPage={page.lastPage}
                />
            )
        }
    </div>
</Frame>
