---
import Frame from "../../components/Frame.astro";
import SimplePost from "../../components/SimplePost.astro";
import Divider from "../../components/Divider.astro";
import { getPosts } from "../../lib/content";
import { useTranslations, getStaticPaths } from "../../i18n/utils";

export { getStaticPaths };

const { lng } = await Astro.params;
const t = useTranslations(lng);
const posts = (await getPosts(lng)).slice(0, 5);
---
<Frame lng={lng} title={t("title")} description={t("description")} category="home">
	<div class="base-content">
		<img src="/background.png" alt="background" />
		<h1 class="flex justify-center">{t("welcome")}</h1>
		<h2>{t("last_updates")}</h2>
		{
			posts.map((post, index) => (
				<>
					<SimplePost
						key={post.id}
						lng={lng}
						id={post.id}
						{...post.data}
					/>
					{index !== posts.length - 1 && <Divider />}
				</>
			))
		}
		<h2 class="flex justify-center">
			<a href=`/${lng}/posts/1` class="text-[var(--md-sys-color-primary)] text-xl">{t("load_more")}</Link>
		</h2>
		</div>
</Frame>
