---
import Frame from "../components/Frame.astro";
import SimplePost from "../components/SimplePost.astro";
import Divider from "../components/Divider.astro";
import { getPosts } from "../lib/content";
import { ui } from "../lib/ui";

const posts = (await getPosts()).slice(0, 5);
---
<Frame title={ui.title} description={ui.description} category="home">
	<div class="base-content">
		<img src="/background.png" alt="background" />
		<h1 class="flex justify-center">{ui.welcome}</h1>
		<h2>{ui.last_updates}</h2>
		{
			posts.map((post, index) => (
				<>
					<SimplePost
						key={post.id}
						id={post.id}
						{...post.data}
					/>
					{index !== posts.length - 1 && <Divider />}
				</>
			))
		}
		<h2 class="flex justify-center">
			<a href=`/blog/1` class="text-[var(--md-sys-color-primary)] text-xl">{ui.load_more}</Link>
		</h2>
		</div>
</Frame>
