---
import HeaderLink from "./HeaderLink.astro";
import Post from "../assets/post.svg";
import Tag from "../assets/tag.svg";
import Person from "../assets/person.svg";
import {ui} from "../lib/ui";
---
<header class="fixed left-0 right-0 top-0 z-50 bg-[var(--md-sys-color-surface-container)] text-[var(--md-sys-color-on-surface)]">
	<nav class="flex justify-between items-center">
		<a href="/" class="flex items-center gap-4 m-2 lg:m-4">
			<img src="/favicon.svg" alt="logo" class="size-10" />
			<p class="text-2xl m-0">{ui.website}</p>
		</a>
		<div class="flex flex-row pr-4">
			<HeaderLink href=`/blog` Logo={Post} content={ui.menus_posts} />
			<HeaderLink href=`/blog/tags` Logo={Tag} content={ui.menus_tags} />
			<HeaderLink href=`/about` Logo={Person} content={ui.menus_about} />
		</div>
	</nav>
</header>
