---
import { Image } from "astro:assets";
import Logo from "../assets/logo.svg"
import SimpleDate from "./SimpleDate.astro";
const { lng, id, title, date,tags,cover } = Astro.props;
---

<article
    class="hover:bg-[var(--md-sys-color-surface-variant)] hover:text-[var(--md-sys-color-on-surface-variant)]"
>
    <div class="flex">
        <Image class="w-48 h-36 mr-4" src={cover??Logo} alt="cover" />
        <div class="flex flex-col justify-around">
            <ul class="flex flex-wrap gap-4 text-[var(--md-sys-color-outline-variant)]">
            {
                tags.map(tag=> 
                    (<li class="text-sm before:content-['#']  hover:text-[var(--md-sys-color-on-surface-variant)]"><a href=`/${lng}/tags/${tag}`>{tag}</a></li>)
                )
            }
            </ul>
            <h3 class="mt-0 mb-2"><a href={`/${lng}/posts/${id}`}>{title}</a></h3>
            <SimpleDate date={date} />
        </div>
    </div>
</article>
