---
import Frame from "../../../components/Frame.astro";
import SimplePost from "../../../components/SimplePost.astro";
import Divider from "../../../components/Divider.astro";
import Pager from "../../../components/Pager.astro";
import { getPosts } from "../../../lib/content";
import { simpleLanguages } from "../../../i18n/ui";
import { useTranslations } from "../../../i18n/utils";

export async function getStaticPaths({ paginate }) {
    return (
        await Promise.all(
            simpleLanguages.flatMap(async (lng) => {
                const posts = await getPosts(lng);
                return paginate(posts, { pageSize: 10, params: { lng } });
            }),
        )
    ).flat();
}

const { lng } = Astro.params;
const { page } = Astro.props;
const t = useTranslations(lng);
---
<Frame lng={lng} title={t("posts.title")} description={t("posts.description")}>
    <div class="base-content">
        <h1 class="my-4 text-3xl">{t("posts.title")}</h1>
        {
            page.data.map((post, index) => (
                <>
                    <SimplePost
                        key={post.id}
                        lng={lng}
                        id={post.id}
                        {...post.data}
                    />
                    {index !== page.data.length - 1 && <Divider />}
                </>
            ))
        }
        {
            (
                <Pager
                    current={page.url.current}
                    currentPage={page.currentPage}
                    lastPage={page.lastPage}
                />
            )
        }
    </div>
</Frame>
