---
import Frame from "../../../components/Frame.astro";
import SimplePost from "../../../components/SimplePost.astro";
import Divider from "../../../components/Divider.astro";
import { getTags } from "../../../lib/tags";

export async function getStaticPaths(){
    const map=await getTags()
    const result=[]
    for(const [tag,posts] of map){
        result.push({params:{tag},props:{posts}})
    }
    return result
}

const {tag}=await Astro.params
const {posts} = await Astro.props;
---
<Frame title={tag} description={tag}>
	<h1>{tag}</h1>
			<nav class="flex flex-col gap-4">
			{
				posts.map((post,index)=><>
                <SimplePost 
                    key={post.id} 
                    id={post.id}
                    {...post.data}/>
                    {index!==posts.length-1 && <Divider/>}
                </>)
			}
			</nav>
</Frame>
