---
import Frame from "../../../components/Frame.astro";
import { getTags } from "../../../lib/tags";
import { ui } from "../../../lib/ui";

const tags = await getTags();
const keys=tags.keys();
---

<Frame title={ui.tags_title} description={ui.tags_description}>
	<div class="base-content">
		<h1>{ui.tags_title}</h1>
		<div class="flex flex-wrap gap-4">
			{
				keys.map((key) => (
					<a
						href={`/blog/tags/${key}`}
						class="px-4 bg-[var(--md-sys-color-surface-container-low)] hover:bg-[var(--md-sys-color-outline)] hover:text-[var(--md-sys-color-on-outline)] border-[var(--md-sys-color-outline)] border-2 rounded-lg"
					>
						{key}
					</a>
				))
			}
		</div>
	</div>
</Frame>
